@import "tailwindcss";

@font-face {
  font-family: "Fallback";
  src: local(Arial);
  size-adjust: 108%;
  ascent-override: 96%;
  descent-override: normal;
  line-gap-override: 9%;
}

@font-face {
  font-family: "Grotesk";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Grotesk/SpaceGrotesk.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@theme {
  --font-sans: "Poppins", "Fallback", sans-serif;
  --font-grotesk: "Grotesk", "Fallback", sans-serif;
  --color-theme-white: #f5f5f5;
  --color-theme-offWhite: #f5f5f5;
  --color-theme-lightGrey: #d9d9d9;
  --color-theme-grey: #b3b3b3;
  --color-theme-lightBlack: #2c2c2c;
  --color-theme-black: #0a0b0d;
  --color-theme-green: #029d4a;
  --color-theme-lightGreen: #cff7d3;
  --color-theme-orange: #f0a92e;
  --color-theme-lightOrange: #fff1c2;
  --color-theme-red: #ec221f;
  --color-theme-lightRed: #fdd3d0;
  --color-theme-blue: #0511f2;
  --color-theme-lightBlue: #8d92f2;
  --color-theme-darkBlue: #090e73;
}
